<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Potholes</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-white pb-0 pt-0">
    <a class="navbar-brand bg-info text-white pl-2 pr-2" href="/">NY Pothole Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       <div class="collapse navbar-collapse d-flex pr-4 justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visualization">Visualization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api">API</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container">
      <div class="row justify-content-around">
          <div class="col-md-12 bg-white mt-5 mb-auto">
            <h1 class="border-bottom text-info">About Us</h1>
                <img src="" alt="Thumbnail" class="img-thumbnail rounded mr-4 d-block float-left" id="about">
                <h3>Kyle</h3>
                <p class="pt-3">Formerly an environmental scientist, now pursuing a career in data science. His favorite language is Python. 
                  His goal is to work in the sports industry, analyzing tennis matches, but will settle for any job in Data Science at the moment. Hire him, please. 
                  If you found this bio funny, please email him at <a href = "mailto: kylebeng@gmail.com">kylebeng@gmail.com</a></p>
          </div>
          <div class="col-md-12 bg-white mb-auto">
            <br>
                <img src="" alt="Thumbnail" class="img-thumbnail rounded mr-4 d-block float-left" id="about">
                <h3>Lauren</h3>
                <p class="pt-3">Formerly an environmental scientist, now pursuing a career in data science. His favorite language is Python. 
                    His goal is to work in the sports industry, analyzing tennis matches, but will settle for any job in Data Science at the moment. Hire him, please. 
                    If you found this bio funny, please email him at <a href = "mailto: kylebeng@gmail.com">kylebeng@gmail.com</a>
                </p>
          </div>
          <div class="col-md-12 bg-white mb-auto">
              <br>
                  <img src="" alt="Thumbnail" class="img-thumbnail rounded mr-4 d-block float-left" id="about">
                  <h3>Bruno</h3>
                  <p class="pt-3">Formerly an environmental scientist, now pursuing a career in data science. His favorite language is Python. 
                      His goal is to work in the sports industry, analyzing tennis matches, but will settle for any job in Data Science at the moment. Hire him, please. 
                      If you found this bio funny, please email him at <a href = "mailto: kylebeng@gmail.com">kylebeng@gmail.com</a>
                  </p>
          </div>
          <div class="col-md-12 bg-white mb-auto">
              <br>
                <img src="" alt="Thumbnail" class="img-thumbnail rounded mr-4 d-block float-left" id="about">
                  <h3>Imane</h3>
                  <p class="pt-3">Formerly an environmental scientist, now pursuing a career in data science. His favorite language is Python. 
                      His goal is to work in the sports industry, analyzing tennis matches, but will settle for any job in Data Science at the moment. Hire him, please. 
                      If you found this bio funny, please email him at <a href = "mailto: kylebeng@gmail.com">kylebeng@gmail.com</a>
                  </p>
          </div>
      </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
